* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fdf1ec;
  display: flex;
  flex-direction: column;
  height: 100%;
}
form {
  margin: 50px;
}
form select {
  cursor: pointer;
}
select,
input {
  height: 40px;
  width: 250px;
  padding: 5px 0 5px 20px;
  border: 2px solid #979797;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  outline: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
input:focus {
  height: 50px;
  width: 375px;
  border: 2px solid #000000;
  font-size: 20px;
}
.content-table {
  border-collapse: collapse;
  margin: 50px 50px;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #4f46e5;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

img {
  height: 80px;
  width: 80px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #4f46e5;
}
.link {
  position: relative;
  color: #475569;
  font-size: 1.8rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
.link:after {
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #4f46e5;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: all 0.3s ease;
}

.link:hover {
  color: #4f46e5;
}
.link:hover::after {
  transform: scaleX(1);
}
